header {
  text-align: center;
  color: #F1F6F5;
  background-color: #4B56D2;
  
}

aside {
  width: 25%;
}

section {
  width: 75%;
}

button {
  width: 100%;
  padding: 8px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  

}

.btn-search-button {
  color: #F1F6F5;
  background-color: #82C3EC;
}