/* style the headder */
header {
  height: 15vh;
  text-align: center;
  text-justify: center;
  color: #F1F6F5;
  background-image: linear-gradient(to right, #4B56D2 , #472183);
  
}

/* set the size of the search container */
aside {
  width: 25%;
}

/* style the search form */
input {
  width: 60%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  color: rgb(91, 91, 91);
}

/* style the buttons */
button {
  width: 100%;
  padding: 8px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  color: rgb(91, 91, 91);
  font-size: medium;

}

/* over-write style the search button*/
.btn-search-button {
  color: #F1F6F5;
  background-color: #82C3EC;
}

/* make the forecast display to the right of the buttons */
.row {
  display: flex;
  justify-content: space-between;
}

/* set size of Forecast container */
.mt-3 {
  width: 70vw;
}

/* make the forecast cards look pretty */
.forecast-card {
  width: 12vw;
  padding-left: 10px;
  border-radius: 7px;
  background-color: #4B56D2;
  font-size: large;
}